*
.navbar{
    width: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: x-large;
    border-radius: 12px;
}
.navbar > div {
    flex: 1 1 150px;
    border-radius: 12px;
    list-style-type: none;
}

h1{
    align-items: center;
   

}

h2{
    align-items: center;
}

#aboutContainer{
    font-size: 25px;
    text-align: center;
    list-style-type: none;
}

div{
    list-style-type: none;
}

#projectsContainer{
    font-size: 25px;
    text-align: center;
}

.headshot{
    width: 20%;
    height: auto;
    align-items: center;
}

footer{
    font-size: 12px;
}